Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.1"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black (backend Python)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff (lint)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml", "--fix"]
      - id: ruff-format
        name: ruff (format)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-requests
          - pydantic
          - sqlmodel
          - fastapi
          - starlette
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (imports)
        files: ^(backend/|tests/|scripts/)
        args: ["--settings-path=pyproject.toml"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]
  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat (watchOS)
        entry: scripts/swiftformat_lint.sh
        language: script
        files: ^frontend/.*\.swift$
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

fix: Stabilize flaky cache effectiveness test for CI runners
  tests/backend/test_analytics_performance.py
Due: backend-tests

fix: unwrap optional curriculumID after REST entry type merge
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
Due: swiftformat

refactor: Extract foundation types from ContentView (#293)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Constants/UIConstants.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Extensions/Color+Stage.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Extensions/Comparable+Clamped.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Extensions/EnvironmentValues+DetailView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/DetailDestination.swift
Due: swiftformat

refactor: Extract MysticalJournalIcon, ConceptExplainerView, FlowReviewSheet (#293)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/About/ConceptExplainerView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/MysticalJournalIcon.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/FlowReviewSheet.swift
Due: swiftformat

refactor: Extract all views from ContentView monolith (#293)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsViewSections.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/ClearLightEmotionCard.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/CurriculumCard.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/CurriculumDetailView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/LayeredEmotion.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/StrategyCard.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/StrategyListView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Menu/MenuView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerCardView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
Due: swiftformat

refactor: Address review feedback - task cleanup and deduplicate primaryID (#293)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Curriculum/StrategyCard.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerView.swift
Due: swiftformat

feat: Add Liquid Glass design system with backward compatibility (#294)
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLButtonStyle.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLCardModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLGlassModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLNavigationBarModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Preview/DesignSystemPreview.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLColorTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLSpacingTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLTheme.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLTypographyTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLButtonStyleTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLCardModifierTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLColorTokensTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLGlassModifierTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLSpacingTokensTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLTypographyTokensTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

chore: Update project config for Xcode 26.3 compatibility
  .github/workflows/ci.yml
  CLAUDE.md
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

chore: Update project config for Xcode 26.3 compatibility (#308)
  .github/workflows/ci.yml
  CLAUDE.md
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

chore: Add Claude skills and track .claude/ agent system
  .claude/README.md
  .claude/agents/agent-hierarchy.md
  .claude/agents/backend-orchestrator.md
  .claude/agents/chief-architect.md
  .claude/agents/cicd-orchestrator.md
  .claude/agents/delegation-rules.md
  .claude/agents/documentation-orchestrator.md
  .claude/agents/frontend-orchestrator.md
  .claude/agents/hierarchy.md
  .claude/agents/testing-orchestrator.md
  .claude/shared/common-constraints.md
  .claude/shared/documentation-rules.md
  .claude/shared/error-handling.md
  .claude/shared/github-issue-workflow.md
  .claude/shared/pr-workflow.md
  .claude/skills/architectural-decisions/SKILL.md
  .claude/skills/backlog-grooming/SKILL.md
  .claude/skills/bug-squashing-methodology/SKILL.md
  .claude/skills/ci-debugging/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  .claude/skills/file-naming-conventions/SKILL.md
  .claude/skills/max-quality-no-shortcuts/SKILL.md
  .claude/skills/prompt-engineering/SKILL.md
  .claude/skills/stay-green/SKILL.md
  .claude/skills/testing/SKILL.md
  .claude/skills/tracer-code/SKILL.md
  .claude/skills/vibe/SKILL.md
  .gitignore
Due: none

chore: Add Claude skills and track .claude/ agent system (#309)
  .claude/README.md
  .claude/agents/agent-hierarchy.md
  .claude/agents/backend-orchestrator.md
  .claude/agents/chief-architect.md
  .claude/agents/cicd-orchestrator.md
  .claude/agents/delegation-rules.md
  .claude/agents/documentation-orchestrator.md
  .claude/agents/frontend-orchestrator.md
  .claude/agents/hierarchy.md
  .claude/agents/testing-orchestrator.md
  .claude/shared/common-constraints.md
  .claude/shared/documentation-rules.md
  .claude/shared/error-handling.md
  .claude/shared/github-issue-workflow.md
  .claude/shared/pr-workflow.md
  .claude/skills/architectural-decisions/SKILL.md
  .claude/skills/backlog-grooming/SKILL.md
  .claude/skills/bug-squashing-methodology/SKILL.md
  .claude/skills/ci-debugging/SKILL.md
  .claude/skills/comprehensive-pr-review/SKILL.md
  .claude/skills/file-naming-conventions/SKILL.md
  .claude/skills/max-quality-no-shortcuts/SKILL.md
  .claude/skills/prompt-engineering/SKILL.md
  .claude/skills/stay-green/SKILL.md
  .claude/skills/testing/SKILL.md
  .claude/skills/tracer-code/SKILL.md
  .claude/skills/vibe/SKILL.md
  .gitignore
Due: none

fix: Detect Xcode 26.x dynamically in CI and merge main compatibility
  .github/workflows/ci.yml
Due: none

chore: Add .venv/ to .gitignore
  .gitignore
Due: none

fix: Use glob-based Xcode detection in CI for versioned app names
  .github/workflows/ci.yml
Due: none

fix: Prefer Xcode 16.x in CI — project hasn't migrated to watchOS 26 SDK
  .github/workflows/ci.yml
Due: none

feat: Add Liquid Glass design system with backward compatibility (#294) (#310)
  .github/workflows/ci.yml
  .gitignore
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLButtonStyle.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLCardModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLGlassModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Modifiers/WLNavigationBarModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Preview/DesignSystemPreview.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLColorTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLSpacingTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLTheme.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLTypographyTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLButtonStyleTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLCardModifierTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLColorTokensTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLGlassModifierTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLSpacingTokensTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WLTypographyTokensTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

docs: Add concurrency plan for remaining open issues
  prompts/claude-comm/2026-04-21_REMAINING_ISSUES_WORKFLOW_PLAN.md
Due: none

docs: add App Store submission artifacts under store-assets/
  store-assets/README.md
  store-assets/icons/icon-checklist.md
  store-assets/metadata/age-rating-questionnaire.md
  store-assets/metadata/app-privacy-details.md
  store-assets/metadata/app-store-metadata.md
  store-assets/metadata/review-notes.md
  store-assets/privacy-policy/hosting-plan.md
  store-assets/privacy-policy/privacy-policy.md
  store-assets/screenshots/.gitkeep
  store-assets/screenshots/README.md
Due: none

feat: add scripts/pr-status.sh for multi-PR status checks
  scripts/pr-status.sh
  tests/backend/test_pr_status_script.py
Due: backend-tests

docs(analytics): profile local analytics hotspots for #258
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
  prompts/claude-comm/2026-04-21_ANALYTICS_PROFILING_REPORT_ISSUE_258.md
Due: swiftformat

refactor: reframe analytics to honor natural rhythms (#280, #281, #282, #285)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsViewSections.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
Due: swiftformat

docs: App Store submission artifacts (closes #271) (#311)
  store-assets/README.md
  store-assets/icons/icon-checklist.md
  store-assets/metadata/age-rating-questionnaire.md
  store-assets/metadata/app-privacy-details.md
  store-assets/metadata/app-store-metadata.md
  store-assets/metadata/review-notes.md
  store-assets/privacy-policy/hosting-plan.md
  store-assets/privacy-policy/privacy-policy.md
  store-assets/screenshots/.gitkeep
  store-assets/screenshots/README.md
Due: none

style(tests): fix swiftformat wrap-arguments violations in benchmarks
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
Due: swiftformat

refactor: address PR review — accurate monthly window, drop issue refs
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsViewSections.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
Due: swiftformat

style(tests): remove short-literal underscores to match project grouping
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
Due: swiftformat

refactor: address pr-status review feedback
  scripts/pr-status.sh
  tests/backend/test_pr_status_script.py
Due: backend-tests

feat: add scripts/pr-status.sh for multi-PR status checks (#232) (#312)
  scripts/pr-status.sh
  tests/backend/test_pr_status_script.py
Due: backend-tests

docs(analytics): profile local analytics hotspots for #258 (#315)
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
  prompts/claude-comm/2026-04-21_ANALYTICS_PROFILING_REPORT_ISSUE_258.md
Due: swiftformat

Analytics reframes batch 1 (#313)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsViewSections.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
Due: swiftformat

perf(sqlite): add analytics indexes and date-range fetch for #259
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
Due: swiftformat

feat(analytics): tap-through drill-downs from analytics to journal entries (#260)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/JournalDrilldownContext.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/JournalEntryDrilldownFilter.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/JournalEntryListView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/StrategyUsageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalEntryDrilldownFilterTests.swift
Due: swiftformat

feat: integrate offline queue into JournalClient (#215)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalSyncService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/FlowReviewSheet.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat: UI queue status + sync feedback (#216)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Menu/MenuView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/SyncStatusView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalQueueTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
Due: swiftformat

test: offline queue end-to-end integration scenarios (#218)
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/OfflineQueueIntegrationTests.swift
Due: swiftformat

docs: Add concurrency plan for remaining open issues (#314)
  prompts/claude-comm/2026-04-21_REMAINING_ISSUES_WORKFLOW_PLAN.md
Due: none

fix(tests): satisfy SwiftFormat lint (force-unwrap + numberFormatting)
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalEntryDrilldownFilterTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix(tests): satisfy SwiftFormat preferKeyPath/hoistTry/noForceUnwrapInTests
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/OfflineQueueIntegrationTests.swift
Due: swiftformat
