Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.1"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black (backend Python)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff (lint)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml", "--fix"]
      - id: ruff-format
        name: ruff (format)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-requests
          - pydantic
          - sqlmodel
          - fastapi
          - starlette
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (imports)
        files: ^(backend/|tests/|scripts/)
        args: ["--settings-path=pyproject.toml"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]
  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat (watchOS)
        entry: scripts/swiftformat_lint.sh
        language: script
        files: ^frontend/.*\.swift$
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

chore(diagnostics): Phase 0 instrumentation for cold-start chevron + storage error (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

chore(diagnostics): Phase 0 instrumentation for cold-start chevron + storage error (#457) (#458)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

feat(deploy): Railway backend config + Postgres driver/URL normalization (#437)
  backend/README.md
  backend/database.py
  backend/requirements.txt
  railway.toml
  tests/backend/test_database_url.py
Due: backend-tests

test(deploy): add credentials-in-URL normalization case + pin Python (#437)
  railway.toml
  tests/backend/test_database_url.py
Due: backend-tests

feat(deploy): Railway backend config + Postgres driver/URL normalization (#437) (#459)
  backend/README.md
  backend/database.py
  backend/requirements.txt
  railway.toml
  tests/backend/test_database_url.py
Due: backend-tests

chore(config): point the watch app's default backend at Railway
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
Due: none

chore(config): point the watch app's default backend at Railway (#460)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
Due: none

chore(diagnostics): Phase 0.1 chevron-frame instrumentation (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ChevronFrameDiagnosisTests.swift
Due: swiftformat

fix(journal): surface the storage-open failure reason on-device (#451)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/PresentationCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootPresentationHost.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootShellView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewDependenciesTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PresentationCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PresentationPolicyTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/RootPresentationHostTests.swift
Due: swiftformat

fix(journal): build indexes after migrate so old DBs open (#451)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

test(journal): make the pre-entry_type seed fail loudly (#451)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

chore(diagnostics): Phase 0.2 chevron viewport reference (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Extensions/EnvironmentValues+ChevronViewport.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
Due: swiftformat

docs(journal): note isPresented assoc-value caveat; name regression test (#451)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/PresentationCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix(journal): recover old journal DBs that fail to open (#451) (#462)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/PresentationCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootPresentationHost.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootShellView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewDependenciesTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PresentationCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PresentationPolicyTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/RootPresentationHostTests.swift
Due: swiftformat

fix(navigation): hoist the chevron to a single viewport overlay (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/DetailDestination.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DetailDestinationTests.swift
Due: swiftformat

fix(navigation): derive chevron phase from the live TabView binding (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/CatalogModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/DetailDestination.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
Due: swiftformat

fix(navigation): tighten chevron index-safety; guard the routing constant (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DetailDestinationTests.swift
Due: swiftformat

refactor(navigation): trim chevron review nits (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DetailDestinationTests.swift
Due: swiftformat

fix(navigation): hoist the chevron to a single viewport overlay (#457) (#463)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/CatalogModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/DetailDestination.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/PhasePageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DetailDestinationTests.swift
Due: swiftformat

feat(journal): remove the rest-period feature (#435)
  backend/app.py
  backend/database.py
  backend/models.py
  backend/routers/analytics.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLColorTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/FlowReviewSheet.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/RestPeriodHeader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalJournalEntryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
  tests/backend/test_journal_entry_type.py
  tests/backend/test_journal_rest.py
Due: swiftformat, backend-tests

feat(journal): remove the rest-period feature (#435) (#464)
  backend/app.py
  backend/database.py
  backend/models.py
  backend/routers/analytics.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/DesignSystem/Theme/WLColorTokens.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/FlowReviewSheet.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Journal/RestPeriodHeader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsPerformanceBenchmarks.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalJournalEntryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
  tests/backend/test_journal_entry_type.py
  tests/backend/test_journal_rest.py
Due: swiftformat, backend-tests

refactor(flow): immutable FlowStepReaction; exhaustive policy tests (#428)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowStepReactionPolicy.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowStepReactionPolicyTests.swift
Due: swiftformat

docs(flow): document the dismissIfActive contract on reviewSheet (#428)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowStepReactionPolicy.swift
Due: swiftformat

feat(navigation): Single owner for flow-step nav pops + review sheet (#428) (#444)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowCoordinator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/FlowStepReactionPolicy.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/MainContentDialogsModifier.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootPresentationHost.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootShellView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowStepReactionPolicyTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/MainContentDialogsModifierTests.swift
Due: swiftformat

chore(diagnostics): remove the Phase 0 cold-start instrumentation (#457)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

chore(diagnostics): remove the Phase 0 cold-start instrumentation (#457) (#465)
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/ContentViewDependencies.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix(navigation): make the hoisted chevron tappable (#466)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
Due: swiftformat

fix(analytics): build local analytics from the in-memory catalog (#468)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Menu/MenuView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
Due: swiftformat

fix(navigation): make the hoisted chevron tappable (#466) (#467)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerScrollView.swift
Due: swiftformat

fix(analytics): build local analytics from the in-memory catalog (#468) (#469)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Menu/MenuView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
Due: swiftformat

fix(analytics): surface the local-calc failure reason (#470)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

fix(analytics): keep the backend error in the dual-failure message (#470)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

fix(analytics): surface the local-calc failure reason (#470) (#471)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

fix(journal): tolerate stray field values + normalize sync_status (#472)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix(journal): tolerate stray field values + normalize sync_status (#472) (#473)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix: exclude generated graphify-out artifacts from pre-commit hooks
  .pre-commit-config.yaml
Due: none

style: wrap single-line if bodies flagged by current SwiftFormat
  .github/workflows/graph-update.yml
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/LayerView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Navigation/RootPresentationHost.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowSubmissionPresenterTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WatchOSMarkdownParserTests.swift
Due: swiftformat

style: encode fixture blank lines as explicit newline escapes
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WatchOSMarkdownParserTests.swift
Due: swiftformat
