Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

swiftformat:
  name: SwiftFormat
  entry: scripts/swiftformat-lint.sh
  language: system

backend-tests:
  name: backend tests (on push)
  entry: bash
  language: system
  pass_filenames: false
  stages:
  - pre-push
  args:
  - -lc
  - 'set -euo pipefail
  
    if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
  
    source .venv/bin/activate
  
    python -m pip install --upgrade pip
  
    pip install -r backend/requirements.txt
  
  ...

fix: build watchos frontend
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat: refactor layer_id into color_layer_id for clarity
  backend/data/curriculum.json
  backend/data/headers.json
  backend/data/prod/a-w-curriculum.json
  backend/data/prod/a-w-headers.json
  backend/data/prod/a-w-strategies.json
  backend/data/strategies.json
  backend/models.py
  backend/routers/journal.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/schemas_catalog.py
  backend/services/catalog.py
  backend/tools/data/strategy.csv
  backend/tools/seed_data.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/CatalogModels.swift
  tests/backend/test_strategy_api.py
Due: swiftformat, backend-tests

fix: remove unused import
  tests/backend/test_catalog_api.py
Due: backend-tests

Fix catalog strategies to respect layer associations
  backend/services/catalog.py
Due: backend-tests

Adopt strict linting and CI workflows
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  backend/.bandit
  backend/app.py
  backend/data/a-w-curriculum.csv
  backend/data/a-w-headers.csv
  backend/data/a-w-strategies.csv
  backend/database.py
  backend/models.py
  backend/routers/catalog.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/services/catalog.py
  backend/tools/csv_to_json.py
  backend/tools/data/curriculum.csv
  backend/tools/data/journal.csv
  backend/tools/data/layer.csv
  backend/tools/data/phase.csv
  backend/tools/data/strategy.csv
  backend/tools/seed_data.py
  mypy.ini
  pyproject.toml
  ruff.toml
  scripts/swiftformat_lint.sh
  tests/backend/conftest.py
  tests/backend/test_catalog_api.py
  tests/backend/test_phase_api.py
Due: backend-tests

Fix layer indicator helper return
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

Handle nullable journal source schema
  backend/models.py
  backend/routers/journal.py
  backend/schemas.py
  backend/tools/data/journal.csv
  backend/tools/seed_data.py
  tests/backend/test_journal_api.py
Due: backend-tests

Rebuild outdated journal tables missing source column
  backend/database.py
  tests/backend/test_journal_api.py
Due: backend-tests

Add color layer back
  backend/models.py
  backend/routers/journal.py
  backend/routers/strategy.py
  backend/services/catalog.py
  backend/tools/data/strategy.csv
  tests/backend/test_catalog_api.py
  tests/backend/test_database_startup.py
  tests/backend/test_strategy_api.py
Due: backend-tests

fix: resolve issues visualizing strategies
  backend/models.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/tools/data/strategy.csv
  backend/tools/seed_data.py
  tests/backend/test_catalog_api.py
  tests/backend/test_strategy_api.py
Due: backend-tests

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Update pre-commit to exclude claude
  .pre-commit-config.yaml
Due: none

Version API under /api/v1 without trailing slashes
  README.md
  backend/README.md
  backend/app.py
  backend/routers/catalog.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/CatalogRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  tests/backend/test_catalog_api.py
  tests/backend/test_curriculum_api.py
  tests/backend/test_database_startup.py
  tests/backend/test_journal_api.py
  tests/backend/test_layer_api.py
  tests/backend/test_phase_api.py
  tests/backend/test_strategy_api.py
Due: swiftformat, backend-tests

feat: improve button ux for journalling
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

chore: satisfy pre-commit formatting
  backend/app.py
  tests/backend/test_curriculum_api.py
  tests/backend/test_journal_api.py
  tests/backend/test_phase_api.py
Due: backend-tests

Expand phase view layout to fill watch display
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix: resolve tabview rotation bug
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: swiftformat

chore: tinker with font sizes
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

Refactor GUI for beauty
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix: update crown scrolling to work
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

add dev setup script and template
  .gitignore
  LOCAL_DEVELOPMENT.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration-Template.plist
  scripts/setup-local-api.sh
Due: swiftformat

Plan journal feature epic roadmap
  prompts/journal_epic.md
Due: none

docs: reorganize and update repo docs
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  prompts/claude-comm/XCODE_BUILD_SETUP.md
  prompts/claude-comm/XCODE_PROJECT_UPDATES.md
  prompts/claude-comm/add-headers.md
  prompts/claude-comm/add-layers.md
  prompts/claude-comm/ci-and-pre-commit-bootstrap.md
  prompts/claude-comm/front-end-tracer-code.md
  prompts/claude-comm/journal_feature.md
Due: none

docs: refresh README for current implementation
  README.md
Due: none

feature: add app icon
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AppIcon.appiconset/Screenshot 2025-10-18 at 12.44.03 PM.png
Due: none

feature: add app icon
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AppIcon.appiconset/app-icon-1024.png
Due: none

docs: capture journal requirements workshop
  prompts/journal_requirements.md
Due: none

Add mock workshop disclaimer to journal requirements
  prompts/journal_requirements.md
Due: none

Add privacy guardrails for journal telemetry
  backend/README.md
  backend/app.py
  backend/logging_config.py
  prompts/claude-comm/journal-telemetry-threat-model.md
  tests/backend/test_logging_privacy.py
Due: backend-tests

Enhance logging sanitization heuristics
  backend/README.md
  backend/logging_config.py
  prompts/claude-comm/journal-telemetry-threat-model.md
  tests/backend/test_logging_privacy.py
Due: backend-tests

chore: Remove black formatter in favor of ruff-format
  .pre-commit-config.yaml
  backend/logging_config.py
  backend/requirements-dev.txt
  pyproject.toml
  tests/backend/test_logging_privacy.py
Due: backend-tests

feat(journal): Add initiated_by field to Journal model
  backend/models.py
  backend/schemas.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  tests/backend/test_journal_api.py
Due: swiftformat, backend-tests

feat(journal): Add schedule settings UI and view model
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ScheduleViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat(journal): Add notification scheduler service
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NotificationScheduler.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ScheduleViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat(journal): Add notification tap handling with tests
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat(journal): Add JournalSchedule model for scheduling prompts
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/JournalSchedule.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

feat(journal): Add initiation context tracking (Tasks 3.12 & 3.13)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

Path conditions:
  swiftformat: any of: \.swift$
  backend-tests: any of: ^(backend/|tests/backend/)
