Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

swiftformat:
  name: SwiftFormat (watchOS)
  entry: scripts/swiftformat_lint.sh
  language: script

backend-tests:
  name: backend tests (on push)
  entry: bash
  language: system
  pass_filenames: false
  stages:
  - pre-push
  args:
  - -lc
  - 'set -euo pipefail
  
    if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
  
    source .venv/bin/activate
  
    python -m pip install --upgrade pip
  
    pip install -r backend/requirements.txt
  
  ...

fix: Address Claude review feedback and update migration docs
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix: Address all critical issues from Claude review
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  prompts/claude-comm/epic-186-summary.md
  prompts/claude-comm/offline-journal-queue-spec.md
  prompts/plans/analytics-feature-spec.md
Due: swiftformat

fix: Address 3 remaining critical issues from Claude review
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
Due: swiftformat

fix: Address 2 critical issues from Claude review - complete Phase 0
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/SyncSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

fix: Store journal repository as ContentView property for proper lifecycle
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: Add local-first journal storage with SQLite (Phase 0) (#217)
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/SyncSettings.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SyncSettingsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/JournalReviewView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/SyncSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalReviewViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalJournalEntryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SyncSettingsTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/epic-186-summary.md
  prompts/claude-comm/offline-journal-queue-spec.md
  prompts/plans/analytics-feature-spec.md
Due: swiftformat

feat: Implement analytics overview endpoint (#192)
  backend/app.py
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Implement circular progress component (#194)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/CircularProgressView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/CircularProgressViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/circular-progress-component-implementation.md
Due: swiftformat

feat: Implement streak calculation and display component (#195)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/2026-01-08-streak-display-component-implementation.md
Due: swiftformat

feat: Implement analytics overview endpoint (#192) (#220)
  backend/app.py
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Implement circular progress component (#194) (#221)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/CircularProgressView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/CircularProgressViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/circular-progress-component-implementation.md
Due: swiftformat

fix: Enforce currentStreak <= longestStreak with preconditions
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
Due: swiftformat

feat: Implement analytics overview UI (#193)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

fix: Use closure-based @StateObject initialization in AnalyticsView
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix: Revert to init()-based @StateObject initialization
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: Implement streak calculation and display component (#195) (#222)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/2026-01-08-streak-display-component-implementation.md
Due: swiftformat

feat: Implement analytics overview UI (#193) (#223)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

feat: Add longest_streak field to analytics overview (#187)
  backend/routers/analytics.py
  backend/schemas.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  tests/backend/test_analytics.py
Due: swiftformat, backend-tests

feat: Add HorizontalBarChart component for analytics (#187)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/HorizontalBarChart.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/HorizontalBarChartTests.swift
Due: swiftformat

feat: Add emotional-landscape endpoint + backend check script (#187)
  CLAUDE.md
  backend/routers/analytics.py
  backend/schemas.py
  scripts/check-backend.sh
  tests/backend/test_analytics.py
Due: backend-tests

feat: Add longest_streak field to analytics overview (#187) (#224)
  backend/routers/analytics.py
  backend/schemas.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  tests/backend/test_analytics.py
Due: swiftformat, backend-tests

feat: Add HorizontalBarChart component for analytics (#187) (#225)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/HorizontalBarChart.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/HorizontalBarChartTests.swift
Due: swiftformat

fix: Address Claude Code review feedback for emotional-landscape (#187)
  backend/routers/analytics.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Add emotional-landscape endpoint + backend check script (#187) (#226)
  CLAUDE.md
  backend/routers/analytics.py
  backend/schemas.py
  scripts/check-backend.sh
  tests/backend/test_analytics.py
Due: backend-tests

feat: Add EmotionalLandscape models and service method (#187)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeModelsTests.swift
Due: swiftformat

feat: Add EmotionalLandscapeViewModel with comprehensive tests
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/EmotionalLandscapeViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
Due: swiftformat

feat: Implement Mode Distribution View (#197)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/ModeDistributionView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ModeDistributionViewTests.swift
Due: swiftformat

feat: Add EmotionalLandscape models and service method (#187) (#227)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeModelsTests.swift
Due: swiftformat

feat: Implement Phase Journey View (#198)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/PhaseJourneyView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PhaseJourneyViewTests.swift
Due: swiftformat

feat: Implement Dosage Deep Dive View (#199)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/DosageDeepDiveView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DosageDeepDiveViewTests.swift
Due: swiftformat

test: Improve PhaseJourneyView test assertions and coverage
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/PhaseJourneyView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PhaseJourneyViewTests.swift
Due: swiftformat

feat: Implement LocalAnalyticsCalculator for offline analytics (#231)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

feat: Implement Mode Distribution View (#197) (#228)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/EmotionalLandscapeViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/ModeDistributionView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ModeDistributionViewTests.swift
Due: swiftformat

feat: Implement Phase Journey View (#198) (#229)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/PhaseJourneyView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PhaseJourneyViewTests.swift
Due: swiftformat

feat: Implement Dosage Deep Dive View (#199) (#230)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/DosageDeepDiveView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/DosageDeepDiveViewTests.swift
Due: swiftformat

feat: Implement self-care analytics endpoint (#202)
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Implement temporal & growth analytics endpoints (#205, #206)
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Implement self-care analytics endpoint (#202) (#234)
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

feat: Implement LocalAnalyticsCalculator for offline analytics (#231) (#233)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

Path conditions:
  swiftformat: any of: ^frontend/.*\.swift$
  backend-tests: any of: ^(backend/|tests/backend/)
