Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.1"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black (backend Python)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff (lint)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml", "--fix"]
      - id: ruff-format
        name: ruff (format)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-requests
          - pydantic
          - sqlmodel
          - fastapi
          - starlette
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (imports)
        files: ^(backend/|tests/|scripts/)
        args: ["--settings-path=pyproject.toml"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]
  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat (watchOS)
        entry: scripts/swiftformat_lint.sh
        language: script
        files: ^frontend/.*\.swift$
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

feat: Add SelfCareViewModel with offline fallback (#253)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SelfCareViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
  prompts/claude-comm/agent-hierarchy-detailed.md
  prompts/claude-comm/agent-hierarchy-reference.md
  prompts/claude-comm/delegation-rules-reference.md
  prompts/claude-comm/issue-242-243-analysis.md
  prompts/claude-comm/issue-250-checklist.md
  prompts/claude-comm/issue-250-final-report.md
  prompts/claude-comm/issue-250-implementation-log.md
  prompts/claude-comm/issue-250-summary.md
Due: swiftformat

feat: Add SelfCareViewModel with offline fallback (#253) (#264)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SelfCareViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
  prompts/claude-comm/agent-hierarchy-detailed.md
  prompts/claude-comm/agent-hierarchy-reference.md
  prompts/claude-comm/delegation-rules-reference.md
  prompts/claude-comm/issue-242-243-analysis.md
  prompts/claude-comm/issue-250-checklist.md
  prompts/claude-comm/issue-250-final-report.md
  prompts/claude-comm/issue-250-implementation-log.md
  prompts/claude-comm/issue-250-summary.md
Due: swiftformat

feat: Add TemporalPatternsViewModel with offline-first support (#254)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/TemporalPatternsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
Due: swiftformat

feat: Add TemporalPatternsViewModel with offline-first support (#254) (#265)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/TemporalPatternsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
Due: swiftformat

feat: Add GrowthIndicatorsViewModel with offline-first support (#255)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/GrowthIndicatorsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
Due: swiftformat

feat: Add GrowthIndicatorsViewModel with offline-first support (#255) (#266)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/AnalyticsService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/GrowthIndicatorsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/EmotionalLandscapeViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
Due: swiftformat

feat: Integrate analytics detail hub with navigation (#256)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
Due: swiftformat

refactor: Address code review feedback for analytics hub (#267)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
Due: swiftformat

fix: Eliminate closure capture risk in analytics hub (#267)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
Due: swiftformat

feat: Integrate analytics detail hub with navigation (#256) (#267)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
Due: swiftformat

feat: Add comprehensive analytics performance testing (#257)
  prompts/claude-comm/analytics-performance-report.md
  pytest.ini
  tests/backend/test_analytics_performance.py
  tests/backend/test_data_generator.py
Due: backend-tests

fix: Address code review feedback for performance tests
  tests/backend/test_analytics_performance.py
  tests/backend/test_data_generator.py
Due: backend-tests

feat: Add comprehensive analytics performance testing (#257) (#268)
  prompts/claude-comm/analytics-performance-report.md
  pytest.ini
  tests/backend/test_analytics_performance.py
  tests/backend/test_data_generator.py
Due: backend-tests

feat: Implement NetworkMonitor service (#201)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NetworkMonitor.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/NetworkMonitorTests.swift
Due: swiftformat

feat: Implement NetworkMonitor service (#201) (#269)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NetworkMonitor.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/NetworkMonitorTests.swift
Due: swiftformat

docs: Add comprehensive App Store readiness plan
  plan/2026-01-22-app-store-readiness.md
Due: none

fix: Enable full markdown parsing for About page (#273)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/MarkdownContentLoaderTests.swift
Due: swiftformat

fix: Implement custom markdown parser for watchOS rendering (#273)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/WatchOSMarkdownParser.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/MarkdownContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WatchOSMarkdownParserTests.swift
Due: swiftformat

Fix About page markdown rendering (#273) (#274)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/WatchOSMarkdownParser.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/MarkdownContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/MarkdownContentLoaderTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WatchOSMarkdownParserTests.swift
Due: swiftformat

feat: Add app icon to About page header (#275)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AboutIcon.imageset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AboutIcon.imageset/about-icon.png
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: Add app icon to About page header (#275) (#276)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AboutIcon.imageset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AboutIcon.imageset/about-icon.png
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: Add idempotency support to journal POST endpoint (#213)
  backend/models.py
  backend/routers/journal.py
  tests/backend/test_journal_api.py
Due: backend-tests

fix: Address Claude review feedback for idempotency implementation
  backend/app.py
  backend/models.py
  backend/routers/journal.py
  tests/backend/test_journal_api.py
Due: backend-tests

fix: Address critical Claude review feedback - race conditions and semantics
  backend/models.py
  backend/routers/journal.py
  tests/backend/test_journal_api.py
Due: backend-tests

fix: Final fixes per Claude review - per-user scoping and narrower exception handling
  backend/models.py
  backend/routers/journal.py
  tests/backend/test_journal_api.py
Due: backend-tests

feat: Add idempotency support to journal POST endpoint (#213) (#277)
  backend/app.py
  backend/models.py
  backend/routers/journal.py
  tests/backend/test_journal_api.py
Due: backend-tests

feat: Add JournalQueue SQLite-based offline sync queue (#189)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/JournalQueueModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalQueueTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/issue-189-implementation-summary.md
  prompts/claude-comm/issue-189-integration-checklist.md
  prompts/claude-comm/issue-189-journal-queue-implementation.md
  prompts/claude-comm/issue-214-implementation-summary.md
  prompts/claude-comm/issue-214-journal-sync-service-progress.md
Due: swiftformat

fix: Address Claude review feedback for JournalQueue (#189)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalQueueTests.swift
  prompts/claude-comm/issue-189-data-duplication-rationale.md
  prompts/claude-comm/issue-189-status-enum-clarification.md
Due: swiftformat

feat: Add JournalQueue SQLite-based offline sync queue (#189) (#278)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/JournalQueueModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalQueueTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
  prompts/claude-comm/issue-189-data-duplication-rationale.md
  prompts/claude-comm/issue-189-implementation-summary.md
  prompts/claude-comm/issue-189-integration-checklist.md
  prompts/claude-comm/issue-189-journal-queue-implementation.md
  prompts/claude-comm/issue-189-status-enum-clarification.md
  prompts/claude-comm/issue-214-implementation-summary.md
  prompts/claude-comm/issue-214-journal-sync-service-progress.md
Due: swiftformat

feat: Add JournalSyncService with auto-sync and retry logic (#214)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalSyncService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NetworkMonitor.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalSyncServiceTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

fix: Address Claude review feedback on JournalSyncService
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalSyncService.swift
Due: swiftformat

feat: Add JournalSyncService with auto-sync and retry logic (#214) (#279)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalQueue.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalSyncService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NetworkMonitor.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalSyncServiceTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

feat: Replace 'declining' language with neutral 'resting' terminology (#282)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
Due: swiftformat

docs: Add analytics mission alignment strategy and issue #282 documentation
  prompts/claude-comm/analytics-mission-alignment.md
  prompts/claude-comm/issue-282-complete-summary.md
  prompts/claude-comm/issue-282-implementation-summary.md
  prompts/claude-comm/issue-282-quick-reference.md
  prompts/claude-comm/issue-282-testing-checklist.md
Due: none

feat: Remove consistency score color coding (#281)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  prompts/claude-comm/issue-281-completion-report.md
  prompts/claude-comm/issue-281-implementation-summary.md
  prompts/claude-comm/issue-281-testing-checklist.md
  prompts/claude-comm/pr-290-update-notes.md
Due: swiftformat

feat: Phase 1 - Remove evaluative language and colors from analytics (#281, #282)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  prompts/claude-comm/analytics-mission-alignment.md
  prompts/claude-comm/issue-281-completion-report.md
  prompts/claude-comm/issue-281-implementation-summary.md
  prompts/claude-comm/issue-281-testing-checklist.md
  prompts/claude-comm/issue-282-complete-summary.md
  prompts/claude-comm/issue-282-implementation-summary.md
  prompts/claude-comm/issue-282-quick-reference.md
  prompts/claude-comm/issue-282-testing-checklist.md
  prompts/claude-comm/pr-290-update-notes.md
Due: swiftformat

feat: Remove streak gamification from analytics (#280)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  prompts/claude-comm/issue-280-files-modified.md
  prompts/claude-comm/issue-280-implementation-summary.md
Due: swiftformat

feat: Add REST entry type to backend journal API (#283)
  backend/models.py
  backend/routers/analytics.py
  backend/routers/journal.py
  backend/schemas.py
  prompts/claude-comm/issue-283-backend-implementation-complete.md
  tests/backend/test_journal_rest.py
Due: backend-tests

feat: Add REST entry type to frontend journal flow (#283)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/LocalJournalEntry.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalDatabase.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalSyncService.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/JournalFlowViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/EntryTypeSelectionView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/JournalReviewView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalClientTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalFlowViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalQueueTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalRepositoryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalReviewViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalSyncServiceTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalJournalEntryTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SelfCareViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
  prompts/claude-comm/issue-283-frontend-implementation-complete.md
  prompts/claude-comm/rest-entry-analytics-fix.md
Due: swiftformat

feat: Refactor analytics to focus on emotional state insights (#304)
  backend/routers/analytics.py
  backend/schemas.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/TemporalPatternsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/AnalyticsDetailHubView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/StrategyUsageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/StreakDisplayView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StrategyUsageViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StreakDisplayViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
  tests/backend/test_analytics.py
Due: swiftformat, backend-tests
