Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.1"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black (backend Python)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff (lint)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml", "--fix"]
      - id: ruff-format
        name: ruff (format)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-requests
          - pydantic
          - sqlmodel
          - fastapi
          - starlette
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (imports)
        files: ^(backend/|tests/|scripts/)
        args: ["--settings-path=pyproject.toml"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]
  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat (watchOS)
        entry: scripts/swiftformat_lint.sh
        language: script
        files: ^frontend/.*\.swift$
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

feat(ui): Add three-dot menu with Settings, Analytics, and About views
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix(schedule): Replace broken time picker with native DatePicker
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
  prompts/claude-comm/2025-10-24-journal-flow-alert-presentation-bugs.md
  prompts/claude-comm/2025-10-24-journal-flow-bugs-analysis.md
  prompts/claude-comm/strategy-flow-crash-investigation.md
Due: swiftformat

fix(schedules): Fix Toggle green background disappearing on state change
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ScheduleViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
Due: swiftformat

test: Update toggleSchedule test to use direct binding access
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

fix(ui): Make three-dot menu float above content without cutting off display
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat(notifications): Request notification permission when accessing schedule settings
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

fix(ui): Fix three-dot menu appearing on detail screens
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

fix(journal): Show prompts even when offline + Add notification action button
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NotificationCenterProtocol.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NotificationScheduler.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
Due: swiftformat

fix(notifications): Configure categories at correct lifecycle point
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NotificationScheduler.swift
Due: swiftformat

chore(deps): Upgrade uvicorn minimum version to 0.38.0
  backend/requirements.txt
Due: backend-tests

fix(deps): Revert uvicorn to 0.35.x for Python 3.13 compatibility
  backend/requirements.txt
Due: backend-tests

docs: Add comprehensive terminal commands to testing program
  prompts/claude-comm/apple-watch-testing-program.md
Due: none

docs: Update testing program - mark known issues as resolved
  prompts/claude-comm/apple-watch-testing-program.md
Due: none

docs: Add comprehensive Apple Watch testing program
  prompts/claude-comm/apple-watch-testing-program.md
Due: none

chore: Add app.db to .gitignore
  .gitignore
Due: none

fix(seed): Add initiated_by column to journal.csv and seed logic
  backend/tools/data/journal.csv
  backend/tools/seed_data.py
Due: backend-tests

feat(schedule): Add 12-hour time picker with wraparound and AM/PM
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
Due: swiftformat

Revert "feat(schedule): Add 12-hour time picker with wraparound and AM/PM"
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
Due: swiftformat

fix(notifications): Address PR review feedback for notification architecture
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/ScheduleSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
Due: swiftformat

docs: add prompt for next epic (schedule feature implementation)
  prompts/schedule_feature_implementation_plan.md
Due: none

refactor(tests): Phase 1 - Make ContentViewModel testable on watchOS Simulator
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  prompts/mainactor_refactoring_plan.md
Due: swiftformat

refactor(tests): Phase 2 - Make ScheduleViewModel testable on watchOS Simulator
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ScheduleViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  prompts/schedule_feature_implementation_plan.md
Due: swiftformat

fix(app): Remove @StateObject access from App init to prevent SIGSEGV crashes
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/NotificationScheduler.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  prompts/2025-10-29-bisect-session-state.md
  prompts/2025-10-29-incremental-test-fix-plan.md
  prompts/FINAL_ALL_BUGS_IDENTIFIED.md
  prompts/app_initialization_crash_fix_plan.md
  prompts/claude-comm/mystery-solved-root-cause-timeline.md
  prompts/claude-comm/root-cause-identified.md
  prompts/claude-comm/test-framework-documentation.md
  prompts/comprehensive_test_crash_analysis.md
  prompts/swift_testing_crash_investigation.md
  prompts/test_framework_conflict_resolution_plan.md
Due: swiftformat

test(notifications): Fix NotificationDelegate tests for @MainActor compatibility
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

build(tests): Add script to run watchOS tests individually
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

feat(tests): Add optional arguments and verbose logging to test script
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

docs(ci): Integrate watchOS test script into CI and pre-push hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

docs(tests): Add investigation plan for remaining SIGSEGV crashes
  prompts/2025-10-31-investigate-remaining-crashes.md
Due: none

refactor(tests): Extract test utilities and split test suites
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ScheduleViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConfigurationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ScheduleViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: swiftformat

docs: add test refactor prompt
  prompts/claude-comm/2025-10-31-test-refactor-and-fixes.md
Due: none

fix(notifications): Restore notification delegate setup and improve tests
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

fix(tests): Use truly invalid URL string in AppConfigurationTests
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConfigurationTests.swift
Due: swiftformat

ci(frontend): Skip watchOS tests in CI due to simulator unreliability
  .github/workflows/ci.yml
Due: none

perf(tests): Optimize test script with build-for-testing
  .gitignore
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

ci(frontend): Re-enable watchOS tests with optimized script
  .github/workflows/ci.yml
Due: none

ci(frontend): Increase watchOS test timeout to 20 minutes
  .github/workflows/ci.yml
Due: none

perf(ci): Optimize CI workflow for faster execution
  .github/workflows/ci.yml
Due: none

fix(tests): Address PR review feedback - restore Logger and fix concurrency issues
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConfigurationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TestUtilities.swift
Due: swiftformat

ci: Increase timeout to 25min and use generic simulator
  .github/workflows/ci.yml
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none

fix(ci): Use specific simulator instead of OS=latest
  frontend/WavelengthWatch/run-tests-individually.sh
Due: none
