Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.1"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '^\.github/workflows/(claude-code-review\.yml|claude\.yml)$'
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black (backend Python)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff (lint)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml", "--fix"]
      - id: ruff-format
        name: ruff (format)
        files: ^(backend/|tests/|scripts/)
        args: ["--config=ruff.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: ^backend/
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-requests
          - pydantic
          - sqlmodel
          - fastapi
          - starlette
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (imports)
        files: ^(backend/|tests/|scripts/)
        args: ["--settings-path=pyproject.toml"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/
        args: ["-c", "backend/.bandit", "-r", "backend"]
  - repo: https://github.com/trailofbits/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (backend dependencies)
        files: ^backend/
        args: ["-r", "backend/requirements.txt"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat (watchOS)
        entry: scripts/swiftformat_lint.sh
        language: script
        files: ^frontend/.*\.swift$
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

feat: Add local fallback to AnalyticsViewModel
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

feat: Add local fallback to AnalyticsViewModel (#236)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
Due: swiftformat

feat: Add StrategyUsageView and analytics models (#203)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/StrategyUsageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StrategyUsageViewTests.swift
Due: swiftformat

feat: Add TemporalPatternsView and models (#207)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
Due: swiftformat

feat: Implement temporal & growth analytics endpoints (#205, #206) (#235)
  backend/routers/analytics.py
  backend/schemas.py
  tests/backend/test_analytics.py
Due: backend-tests

docs: Address claude-review feedback on PR #237
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/StrategyUsageView.swift
Due: swiftformat

docs: Add clarifying comments per code review feedback
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
Due: swiftformat

feat: Add StrategyUsageView and analytics models (#203) (#237)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/StrategyUsageView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/StrategyUsageViewTests.swift
Due: swiftformat

feat: Add TemporalPatternsView and models (#207) (#238)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/TemporalPatternsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/TemporalPatternsViewTests.swift
Due: swiftformat

feat: Implement GrowthIndicatorsView with comprehensive tests (#208)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

feat: Add loading states and accessibility improvements (#210, #212)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/AnalyticsLoadingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/HorizontalBarChart.swift
  prompts/claude-comm/growth-indicators-implementation-208.md
Due: swiftformat

feat: Implement GrowthIndicatorsView with comprehensive tests (#208) (#239)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Analytics/GrowthIndicatorsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/GrowthIndicatorsViewTests.swift
  frontend/WavelengthWatch/run-tests-individually.sh
Due: swiftformat

feat: Add loading states and accessibility improvements (#210, #212) (#240)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/AnalyticsLoadingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/Components/HorizontalBarChart.swift
  prompts/claude-comm/growth-indicators-implementation-208.md
Due: swiftformat

fix: Apply pre-commit formatting fixes
  backend/cache.py
  backend/models.py
  backend/routers/analytics.py
  backend/routers/journal.py
Due: backend-tests

fix: Disable ruff import sorting to avoid conflict with isort
  backend/requirements-dev.txt
  ruff.toml
  scripts/check-backend.sh
Due: backend-tests

feat: Analytics performance optimization with caching (#209) (#241)
  backend/cache.py
  backend/models.py
  backend/requirements-dev.txt
  backend/routers/analytics.py
  backend/routers/journal.py
  ruff.toml
  scripts/check-backend.sh
Due: backend-tests

feat: Refactor About page to load content from markdown file (#219)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/about-content.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConceptExplainerViewTests.swift
Due: swiftformat

fix: Add new files to Xcode project configuration
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  scripts/add_files_to_xcode.py
Due: none

fix: Address code review feedback - bundle injection and test naming
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConceptExplainerViewTests.swift
Due: swiftformat

feat: Refactor About page to load content from markdown file (#219) (#245)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/about-content.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/MarkdownContentLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ConceptExplainerViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  scripts/add_files_to_xcode.py
Due: swiftformat

fix: Make analytics work offline with local-first architecture
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewFilteringTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewFlowIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/MenuViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

docs: Address PR 246 code review suggestions
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
Due: swiftformat

fix: Analytics fails without backend connection (local-first fix) #242 (#246)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/AnalyticsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewFilteringTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewFlowIntegrationTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/ContentViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/FlowCoordinatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/MenuViewTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

Revise about-content for clarity and detail
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/about-content.md
Due: none

feat: Add first-run onboarding and enhanced privacy settings #243
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/SyncSettings.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SyncSettingsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/OnboardingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/SyncSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SyncSettingsTests.swift
Due: swiftformat

fix: Remove trailing whitespace from about-content.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/about-content.md
Due: none

refactor: Address all code review feedback for PR 247
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/OnboardingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SyncSettingsTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/OnboardingViewUITests.swift
Due: swiftformat

Address final 4 suggestions for PR 247 onboarding feature
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SyncSettingsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/OnboardingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/OnboardingViewUITests.swift
  prompts/claude-comm/onboarding-migration-behavior.md
Due: swiftformat

feat: Add first-run onboarding and enhanced privacy settings (#243) (#247)
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/SyncSettings.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/about-content.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/SyncSettingsViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/OnboardingView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Views/SyncSettingsView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/SyncSettingsTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/OnboardingViewUITests.swift
  prompts/claude-comm/onboarding-migration-behavior.md
Due: swiftformat

fix: Analytics percentages displaying as 10000% instead of 10%
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: swiftformat

docs: Add API contract documentation for analytics decimal ranges
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
Due: swiftformat

fix: Backend analytics returns decimal fractions (0-1) instead of percentages (0-100)
  backend/routers/analytics.py
  tests/backend/test_analytics.py
Due: backend-tests

fix: Analytics percentages displaying as 10000% instead of 10% (#248)
  backend/routers/analytics.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/AnalyticsModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  tests/backend/test_analytics.py
Due: swiftformat, backend-tests

feat: Extend LocalAnalyticsCalculator for self-care analytics (#250)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

feat: Extend LocalAnalyticsCalculator for self-care analytics (#250) (#261)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
  prompts/claude-comm/analytics-epic-issue-actions.md
  prompts/claude-comm/analytics-epic-missing-issues.md
  prompts/claude-comm/analytics-epic-updated-description.md
Due: swiftformat

feat: Extend LocalAnalyticsCalculator for temporal patterns (#251)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

feat: Extend LocalAnalyticsCalculator for temporal patterns (#251) (#262)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

feat: Extend LocalAnalyticsCalculator for growth indicators (#252)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat

feat: Extend LocalAnalyticsCalculator for growth indicators (#252) (#263)
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/LocalAnalyticsCalculator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/AnalyticsViewModelTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/LocalAnalyticsCalculatorTests.swift
Due: swiftformat
