Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: [--config-file, mypy.ini]
        additional_dependencies: [pydantic, types-requests]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: swiftformat
        language: system
        types_or: [swift]
        args: [--lint]
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

fix: add tmp_path to db tests
  .pre-commit-config.yaml
  backend/requirements-dev.txt
  backend/requirements.txt
  mypy.ini
  pytest.ini
  tests/backend/test_db.py
Due: backend-tests

fix: remove unneeded requirement
  backend/requirements-dev.txt
Due: backend-tests

docs: ignore database.db
  .gitignore
Due: none

test: ensure journal entries cascade delete details
  backend/db.py
  backend/models.py
  tests/backend/test_models.py
Due: backend-tests

Add SelfCareLog model and tests
  backend/models.py
  tests/backend/test_models.py
Due: backend-tests

Test journal API endpoints
  backend/app.py
  backend/db.py
  backend/models.py
  tests/backend/test_journal_api.py
Due: backend-tests

Harden journal endpoints and expand tests
  backend/app.py
  backend/models.py
  tests/backend/test_journal_api.py
Due: backend-tests

test: cover self-care API
  backend/app.py
  backend/models.py
  tests/backend/test_self_care_api.py
Due: backend-tests

refactor: normalize datetime handling
  backend/app.py
  backend/models.py
  backend/utils.py
  tests/backend/test_self_care_api.py
Due: backend-tests

Store self-care strategies in database
  backend/app.py
  backend/models.py
  tests/backend/test_models.py
  tests/backend/test_self_care_api.py
  tests/backend/test_strategy_api.py
Due: backend-tests

feat: provide legacy strategy JSON output
  backend/app.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  tests/backend/test_strategy_api.py
Due: swiftformat, backend-tests

feat: store self-care strategies in database
  AGENTS.md
  CLAUDE.md
  README.md
  backend/app.py
  backend/constants.py
  backend/db.py
  backend/models.py
  tests/backend/test_models.py
  tests/backend/test_self_care_api.py
  tests/backend/test_strategies_api.py
Due: backend-tests

fix: stabilize self-care transactions and fixtures
  backend/app.py
  backend/models.py
  tests/backend/conftest.py
  tests/backend/test_journal_api.py
  tests/backend/test_models.py
  tests/backend/test_self_care_api.py
  tests/backend/test_strategies_api.py
Due: backend-tests

fix: rely on default sqlmodel config for read schemas
  backend/models.py
Due: backend-tests

Add JournalAPI with request stubs and tests
  frontend/WavelengthWatch/WavelengthWatch Watch App/JournalAPI.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalAPITests.swift
Due: swiftformat

Run swiftformat on watch journal files
  frontend/WavelengthWatch/WavelengthWatch Watch App/JournalAPI.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/JournalAPITests.swift
Due: swiftformat

Add FastAPI service with seeded CRUD endpoints
  README.md
  app/__init__.py
  app/database.py
  app/main.py
  app/models.py
  app/routers/__init__.py
  app/routers/curriculum.py
  app/routers/journal.py
  app/routers/layer.py
  app/routers/phase.py
  app/routers/strategy.py
  app/schemas.py
  app/seed_data.py
  app/utils.py
  pyproject.toml
  tests/test_journal.py
Due: none

feat: add fastapi backend with models schemas and routers
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  app.db
  backend/README.md
  backend/app.py
  backend/data/curriculum.json
  backend/data/headers.json
  backend/data/strategies.json
  backend/database.py
  backend/main.py
  backend/models.py
  backend/requirements.txt
  backend/routers/__init__.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/tools/seed_data.py
  prompts/refactor-backend.md
  tests/backend/app.db
  tests/backend/conftest.py
  tests/backend/test_curriculum_api.py
  tests/backend/test_db.py
  tests/backend/test_journal_api.py
  tests/backend/test_journal_api_new.py
  tests/backend/test_layer_api.py
  tests/backend/test_main_api.py
  tests/backend/test_models.py
  tests/backend/test_phase_api.py
  tests/backend/test_strategy_api.py
Due: backend-tests

Refine backend engine wiring and DTO validation
  backend/README.md
  backend/app.py
  backend/constants.py
  backend/database.py
  backend/db.py
  backend/models.py
  backend/requirements.txt
  backend/routers/__init__.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/tools/seed_data.py
  backend/utils.py
  pyproject.toml
  tests/backend/conftest.py
  tests/backend/test_csv_to_json.py
  tests/backend/test_curriculum_api.py
  tests/backend/test_db.py
  tests/backend/test_journal_api.py
  tests/backend/test_layer_api.py
  tests/backend/test_models.py
  tests/backend/test_phase_api.py
  tests/backend/test_self_care_api.py
  tests/backend/test_strategies_api.py
  tests/backend/test_strategy_api.py
Due: backend-tests

Fix ruff violations and update router dependencies
  backend/models.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/tools/seed_data.py
Due: backend-tests

Fix mypy errors across backend modules
  backend/database.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
Due: backend-tests

Restrict CORS configuration and cover with tests
  backend/README.md
  backend/app.py
  tests/backend/test_app_config.py
Due: backend-tests

chore: add csvs for initial database load
  backend/tools/data/curriculum.csv
  backend/tools/data/journal.csv
  backend/tools/data/layer.csv
  backend/tools/data/phase.csv
  backend/tools/data/strategy.csv
Due: backend-tests

Load backend seed data from CSV fixtures
  backend/tools/seed_data.py
Due: backend-tests

Add catalog endpoint and watch app API refactor
  README.md
  backend/app.py
  backend/routers/__init__.py
  backend/routers/catalog.py
  backend/schemas_catalog.py
  backend/services/__init__.py
  backend/services/catalog.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/JSONDataLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Models/CatalogModels.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-curriculum.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-headers.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-strategies.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/CatalogRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/JournalClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ViewModels/ContentViewModel.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  frontend/WavelengthWatch/XCODE_PROJECT_UPDATES.md
  tests/backend/test_catalog_api.py
Due: swiftformat, backend-tests

Format Swift sources with SwiftFormat
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/APIClient.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

Improve catalog aggregation and configuration logging
  README.md
  backend/routers/catalog.py
  backend/services/catalog.py
  frontend/WavelengthWatch/API_CONFIGURATION.md
  frontend/WavelengthWatch/WavelengthWatch Watch App/App/AppConfiguration.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
  frontend/WavelengthWatch/WavelengthWatch Watch App/Services/CatalogRepository.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  tests/backend/test_catalog_api.py
Due: swiftformat, backend-tests

Configure watch app API base URL
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/APIConfiguration.plist
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: none

Align linting hooks with CI
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  backend/app.py
  backend/database.py
  backend/models.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/tools/seed_data.py
  tests/backend/conftest.py
  tests/backend/test_app_config.py
  tests/backend/test_phase_api.py
Due: backend-tests

Run pre-commit in CI to align tooling
  .github/workflows/ci.yml
Due: none

Define watch API base URL in Info.plist
  README.md
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: none

Add reusable watchOS build helper for pre-commit and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  scripts/swiftformat-lint.sh
  scripts/watchos-build.sh
Due: none

Fix PhaseNavigator wrapping logic
  frontend/WavelengthWatch/WavelengthWatch Watch App/PhaseNavigator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/PhaseNavigatorTests.swift
Due: swiftformat

Add shared directory overview to contributor guides
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

Fix directory structure
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

Perform automatic fixes
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  backend/app.py
  backend/database.py
  backend/models.py
  backend/routers/catalog.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/services/catalog.py
  backend/tools/seed_data.py
  tests/backend/conftest.py
  tests/backend/test_app_config.py
  tests/backend/test_catalog_api.py
  tests/backend/test_phase_api.py
Due: backend-tests

Update AGENTS.md
  AGENTS.md
Due: none

Fix catalog tests typing for mypy
  tests/backend/test_catalog_api.py
Due: backend-tests

Fix PhaseNavigator return statements for watch build
  frontend/WavelengthWatch/WavelengthWatch Watch App/PhaseNavigator.swift
Due: swiftformat

fix: resolve mypy and ruff errors
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
  backend/app.py
  backend/database.py
  backend/models.py
  backend/routers/catalog.py
  backend/routers/curriculum.py
  backend/routers/journal.py
  backend/routers/layer.py
  backend/routers/phase.py
  backend/routers/strategy.py
  backend/schemas.py
  backend/services/catalog.py
  backend/tools/seed_data.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  tests/backend/conftest.py
  tests/backend/test_app_config.py
  tests/backend/test_catalog_api.py
  tests/backend/test_phase_api.py
Due: swiftformat, backend-tests
