Repository Geoffe-Ga/WavelengthWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, backend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: [--config-file, mypy.ini]
        additional_dependencies: [pydantic, types-requests]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: swiftformat
        language: system
        types_or: [swift]
        args: [--lint]
      - id: backend-tests
        name: backend tests (on push)
        entry: bash
        language: system
        pass_filenames: false
        files: ^(backend/|tests/backend/)
        stages: [pre-push]
        args:
          - -lc
          - |
            set -euo pipefail
            if [ ! -d ".venv" ]; then python3 -m venv .venv; fi
            source .venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            if [ -f backend/requirements-dev.txt ]; then pip install -r backend/requirements-dev.txt; fi
            pytest -q

chore: first commit
  .github/workflows/ci.yml
  .gitignore
  .swiftformat
  AGENTS.md
  README.md
  backend/app.py
  backend/data/curriculum.json
  backend/data/strategies.json
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/tools/csv_to_json.py
  dev-setup.sh
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AccentColor.colorset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Assets.xcassets/Contents.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/WavelengthWatch_Watch_AppUITests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/WavelengthWatch_Watch_AppUITestsLaunchTests.swift
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/xcuserdata/geoffgallinger.xcuserdatad/xcschemes/xcschememanagement.plist
  mypy.ini
  prompts/ci-and-pre-commit-bootstrap
  pytest.ini
  ruff.toml
  tests/backend/__pycache__/test_health.cpython-313-pytest-8.4.2.pyc
  tests/backend/test_health.py
Due: swiftformat, backend-tests

chore: Update README.md
  README.md
Due: none

chore: format swift
  dev-setup.sh
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/WavelengthWatchApp.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/WavelengthWatch_Watch_AppUITests.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppUITests/WavelengthWatch_Watch_AppUITestsLaunchTests.swift
Due: swiftformat

Refine typing for CSV conversion
  backend/tools/csv_to_json.py
Due: backend-tests

chore: tweak ci dependencies
  .github/workflows/ci.yml
Due: none

feat: add example csvs and json
  backend/data/a-w-curriculum.csv
  backend/data/a-w-strategies.csv
  backend/data/curriculum.json
  backend/data/strategies.json
Due: backend-tests

Add CSV to JSON converter and tests
  backend/data/curriculum.json
  backend/data/strategies.json
  backend/tools/csv_to_json.py
  tests/backend/__pycache__/test_health.cpython-313-pytest-8.4.2.pyc
  tests/backend/test_csv_to_json.py
Due: backend-tests

chore: fix mypy errors
  backend/tools/csv_to_json.py
Due: backend-tests

chore: lint tests
  tests/backend/test_csv_to_json.py
Due: backend-tests

fix: remove outdated tests
  tests/backend/test_health.py
Due: backend-tests

feat: show strategies by phase
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

chore: add pychache to gitignore
  .gitignore
Due: none

chore: update backend data
  backend/data/a-w-headers.csv
  backend/data/a-w-strategies.csv
  backend/data/curriculum.json
  backend/data/strategies.json
  backend/tools/csv_to_json.py
Due: backend-tests

fix: update tests to reflect key change
  tests/backend/test_csv_to_json.py
Due: backend-tests

Display layer headers in watch app
  backend/data/headers.json
  backend/tools/csv_to_json.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  tests/backend/test_csv_to_json.py
Due: swiftformat, backend-tests

Add layer headers dataset and display
  backend/data/headers.json
  backend/tools/csv_to_json.py
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
  tests/backend/test_csv_to_json.py
Due: swiftformat, backend-tests

Display layer headers above phase link
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

Include Withdrawal strategies in embedded dataset
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

Add vertical layer navigation and curriculum data
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

refactor: use if expression for phase content
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: improve user interface
  backend/data/headers.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat, backend-tests

feat: flip vertical scroll bar
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

feat: persist phase across layers
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/PhaseNavigator.swift
  frontend/WavelengthWatch/WavelengthWatch Watch AppTests/WavelengthWatch_Watch_AppTests.swift
Due: swiftformat

chore: lint frontend
  frontend/WavelengthWatch/WavelengthWatch Watch App/PhaseNavigator.swift
Due: swiftformat

fix: refactor xcodebuild ci step
  .github/workflows/ci.yml
Due: none

fix: select latest xcode in ci
  .github/workflows/ci.yml
Due: none

fix: select correct xcode -v
  .github/workflows/ci.yml
Due: none

fix: select correct xcode version
  .github/workflows/ci.yml
Due: none

fix: set watchOS deployment target to 11
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
Due: none

fix: select correct simulator
  .github/workflows/ci.yml
Due: none

fix: change macos version
  .github/workflows/ci.yml
Due: none

feat: transform json from csv on watch build
  CLAUDE.md
  XCODE_BUILD_SETUP.md
  backend/data/a-w-headers.csv
  backend/data/prod/a-w-curriculum.json
  backend/data/prod/a-w-headers.json
  backend/data/prod/a-w-strategies.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/JSONDataLoader.swift
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-curriculum.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-headers.json
  frontend/WavelengthWatch/WavelengthWatch Watch App/Resources/a-w-strategies.json
  frontend/WavelengthWatch/WavelengthWatch.xcodeproj/project.pbxproj
  scripts/convert_csv_to_json.sh
Due: swiftformat, backend-tests

Refactor phase and layer layouts
  frontend/WavelengthWatch/WavelengthWatch Watch App/ContentView.swift
Due: swiftformat

chore: add prompts used for codex and claude
  .gitignore
  prompts/add-headers.md
  prompts/add-layers.md
  prompts/ci-and-pre-commit-bootstrap.md
  prompts/front-end-tracer-code.md
  prompts/journal_feature.md
Due: none

docs: update journal feature epic story
  prompts/journal_feature.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add SQLModel database utilities
  backend/__init__.py
  backend/db.py
  backend/requirements.txt
  tests/backend/test_db.py
Due: backend-tests

docs: update ai on new project scope
  AGENTS.md
  CLAUDE.md
Due: none
